*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

/* header ----------------- */
.header{
    background-color: black;
    padding: 20px;

    position: fixed;
    width: 100%;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 30px;
}

.lien, .lien:link{
    text-decoration: none;
}
.lien:hover{
    color: orange;
}

/* section hero ----------------- */
.section-hero{
    height: 100vh;
    background-image: url('../img/resto.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-hero p{
    font-family: Playfair Display, serif;
    font-size: 80px;
}

.section-hero h1{
    font-size: 16px;
    font-weight: normal;

    max-width: 450px;
    text-shadow: 0 0 10px black;
}
.okay{
    font-family: Playfair Display, serif;
    font-size: 32px;
}

/* galerie ----------------- */
.galerie{
    height: 40vh;
    display: flex;
}
.galerie img{
    object-fit: cover;
}
.photo1{width: 50%;}
.photo2{width: 20%;}
.photo3{width: 30%;}

/* horaires ----------------- */
.horaires{
    padding: 100px 20px;
    background-image: url('../img/open.jpg');
    background-size: cover;
    background-position: center right;
}
.horaires h2{
    font-family: Playfair Display, serif;
    font-size: 64px;
}

.table-horaires td:nth-child(2){
    text-align: right;
    padding-left: 80px;
}


/* point de rupture 768px */
@media screen and (max-width:768px){
    .photo2, .photo3{display: none;}
    .photo1{width: 100%;}

    .horaires{background-image: url('../img/motif.jpg');}
}